@page "/updatePerson"
@using Front_End.Components.Pages.Misc
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager nav
@rendermode InteractiveServer
@using BuisnessLayer
@inject IJSRuntime js
@using System.Data
@using BuisnessCountry
<CascadingAuthenticationState>


<AuthorizeView>
   <Authorized>
        <div class="h-screen overflow-x-hidden bg-black">
            <NavBar />
            <div class="mt-24 flex h-2/3 flex-col items-center justify-center text-white sm:mt-5">
                <h1 class="text-center text-3xl font-bold">Update People</h1>
                <form class="mt-6 flex w-full flex-col gap-3" @onsubmit="Save">
                    <div class="flex flex-wrap justify-center gap-3">
                        <input placeholder="firstname" @bind="Person.FirstName" class="border-2 rounded-3xl border-white bg-black p-1 px-4 text-white" required/>
                        <input placeholder="secondname" @bind="Person.SecondName" class="border-2 rounded-3xl border-white bg-black p-1 px-4 text-white" required/>
                        <input placeholder="thirdname" @bind="Person.ThirdName" class="border-2 rounded-3xl border-white bg-black p-1 px-4 text-white" />
                        <input placeholder="lastname" @bind="Person.LastName" class="border-2 rounded-3xl border-white bg-black p-1 px-4 text-white" required/>
                    </div>

                    <div class="flex flex-wrap justify-center gap-3">
                        <input placeholder="national number" @bind="Person.NationalNo" class="border-2 rounded-3xl border-white bg-black p-1 px-4 text-white" required/>
                        <input placeholder="Email" @bind="Person.Email" class="border-2 rounded-3xl border-white bg-black p-1 px-4 text-white" required/>
                        <input placeholder="Address" @bind="Person.Address" class="border-2 rounded-3xl border-white bg-black p-1 px-4 text-white" required/>
                         <input placeholder="Phone" @bind="Person.Phone" class="border-2 rounded-3xl border-white bg-black p-1 px-4 text-white" required/>






                    </div>
                    <div class="flex w-full justify-center">
                        <select class="border-2 rounded-3xl border-white bg-black p-2 text-white" @bind="Person.NationalityCountryID">

                                @foreach (DataRowView rowView in dv)
                                {
                                    <option value="@rowView["CountryID"]">@rowView["CountryName"]</option>
                                }
                        </select>
                        </div>
                    <div class="flex justify-center gap-5">

                          <div class="flex items-center" @onclick="MaleTrue">
                            <input checked id="default-radio-1" type="radio" value="" name="default-radio" class="h-4 w-4 border-gray-300 bg-gray-100 text-blue-600 focus:ring-blue-500 focus:ring-2 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600">
                            <label for="default-radio-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Male</label>
                        </div>
                        <div class="flex items-center" @onclick="FemaleTrue">
                            <input id="default-radio-2" type="radio" value="" name="default-radio" class="h-4 w-4 border-gray-300 bg-gray-100 text-blue-600 focus:ring-blue-500 focus:ring-2 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600">
                            <label for="default-radio-2" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Female</label>
                        </div>
                    </div>

                    <div class="flex justify-center gap-3 transition delay-150 duration-300 ease-in-out">
                        <button class="rounded-3xl bg-blue-600 p-2 px-4 text-white" type="submit">Save User</button>

                    </div>


                </form>
            </div>
       </div>
       <div class="h-8 bg-black sm:h-0">

       </div>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedPage PageName="Update People" />
    </NotAuthorized>
</AuthorizeView>
</CascadingAuthenticationState>

@code {
    clsPeople Person;
    System.Uri uri;
    public bool Male { get; set; } = true;
    public bool Female { get; set; } = false;

    DataView dv = clsCountry.GetAllCountries();




    public async Task Save()
    {
        Person.Gendor = Male == true ? "Male" : "Female";


        if (Person.FirstName == "" || Person.SecondName == "" || Person.LastName == "" || Person.NationalityCountryID == -1 || Person.Address == "" || Person.NationalNo == "" || Person.Email == "" || Person.Phone == "" || Person.Gendor == "")
        {
            await js.InvokeVoidAsync("alert", "Must Fill Out all Inputs!");
            return;
        }

        if (Person.Save())
            await js.InvokeVoidAsync("alert", "User Was Saved Successfully!");
        else
            await js.InvokeVoidAsync("alert", "User Was Not Saved Successfully!");
    }

    public void MaleTrue()
    {
        Male = true;
        Female = false;
    }

    public void FemaleTrue()
    {
        Male = false;
        Female = true;
    }


    protected override void OnInitialized()
    {
        uri = nav.ToAbsoluteUri(nav.Uri);

        int? PersonID = null;

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var id))
        {
            PersonID = int.Parse(id);
            Person = clsPeople.Find(PersonID);
        }

    }

}


                      