@using BuisnessUsers
@using Front_End.Components.Pages.People
@rendermode InteractiveServer
<div>
	<PeopleInfo PersonID="@User.PersonID"/>

	<div class="border-2 mt-3 flex justify-center gap-4 rounded-3xl border-white bg-black p-3 px-3 text-white sm:px-5">
		<div class="flex gap-2">
			<p class="text-right font-bold">User ID:</p>
			<p>@User.UserID</p>
		</div>
		<div class="flex gap-2">
			<p class="text-right font-bold">User Name:</p>
			<p>@User.UserName</p>
		</div>
		<div class="flex gap-2">
			<p class="text-right font-bold">Is Active:</p>
			<p>@User.isActive</p>
		</div>
	</div>
</div>



@code {
	[Parameter]
	public int? UserID { get; set; }

	clsUsers User;
	protected override void OnInitialized()
	{
		User = clsUsers.FindByUserID(UserID);
	}
}
