@using Front
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navigationManager
@rendermode InteractiveServer



<div class="flex h-screen flex-col items-center justify-center gap-2 bg-black">

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-24 w-24 text-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636" />
    </svg>

    <h1 class="text-2xl font-bold text-white">You are not authorized</h1>
    <div class="text-center text-gray-400">

        <p>It seems like you do not have permission to use the @PageName Page.</p>
        <p>Please Log in with a valid account!</p>
    </div>
    <button class="mt-2 rounded-3xl bg-red-700 p-2 px-3 text-xs text-white" @onclick="Logout">Log In</button>



</div>

@code {
    [Parameter]
    public string PageName { get; set; }
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationStatus(null);
        navigationManager.NavigateTo("/login");
    }
}
